name: Build Pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install Poetry
      run: pip install poetry

    - name: Build the package
      run: poetry build

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist/